@media screen and (max-width: 1300px) {
	/* header */
	.header {
		padding: 0 18px;
	}

	.header ul li:not(.mobile-visible) {
		display: none;
	}

	.header .phone-link {
		color: #FFF;
	}
	/* /header */
}
