.completed-projects__mobile-slider {
	display: none;
}

@media screen and (max-width: 1300px) {
	/* main styles */
	section {
		padding: 0 18px;
	}

	p {
		font-size: 11px;
	}

	h2.title {
		font-size: 22px;
		line-height: 30.49px;
	}
	/* /main styles */

	/* header */
	.header {
		padding: 0 18px;
		font-size: 11px;
	}

	.header ul li:not(.mobile-visible) {
		display: none;
	}

	.header .phone-link {
		color: #FFF;
	}
	/* /header */

	/* hero */
	.hero .title {
		font-size: 23px;
		line-height: 30.55px;
	}

	.hero p {
		font-size: 14px;
		line-height: 19.02px;
		margin-top: 16px;
	}

	.hero .button {
		width: 100%;
		font-size: 11px;
		margin: 0;
		margin-top: 26px;
	}
	/* /hero */

	/* completed-projects */
	.completed-projects .container {
		display: block;
		text-align: center;
	}
	.completed-projects .completed-projects__slider {
		display: none;
	}

	.completed-projects .completed-projects__pagination {
		display: none;
	}

	.completed-projects .completed-projects__mobile-slider {
		display: block;
		position: relative;
		max-width: 100%;
		margin-top: 36px;
		margin-bottom: 36.45px;
	}

	.completed-projects .completed-projects__mobile-slider .completed-projects__image {
		width: 100%;
	}

	.completed-projects .completed-projects__mobile-slider-controls {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 14px;
		position: absolute;
		top: calc(50% - calc(36px / 2));
	}

	.completed-projects .completed-projects__mobile-slider-arrow {
		background: #E3B873;
		cursor: pointer;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.completed-projects .repair-details {
		text-align: left;
		gap: 31px;
	}

	.completed-projects .repair-details h3 {
		margin-bottom: 13px;
		font-size: 14px;
	}
	/* /completed-projects */

	/* online-control */
	.online-control {
		background: #131313;
		color: #FFF;
	}
	
	.online-control__video-image,
	.online-control__video-image img {
		width: 100%;
	}

	.online-control .play-button {
		width: 37px;
		height: 37px;
	}

	.online-control .play-button::before {
		margin: calc(calc(37px - 12.19px) / 2) calc(calc(37px - calc(12.19px - 5px)) / 2);
		width: 12.19px;
		height: 12.19px;
		background-image: url(images/play-button-small.svg);
	}

	.online-control form label:not(.checkbox-label) {
		color: rgba(255, 255, 255, 0.5)
	}

	.online-control .input-wrapper {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		width: 100%;
	}

	.online-control .input-wrapper:not(:first-child) {
		margin-top: 63px;
	}
	
	.online-control .input {
		background: transparent;
	}

	.online-control .input::placeholder {
		color: #FFF;
	}

	.online-control .last-two {
		display: flex;
		flex-direction: column;
	}

	.online-control .last-two .checkbox-label {
		order: 1;
	}

	.online-control .last-two .button {
		order: 2;
		position: relative;
		top: calc(51px / 2);
	}
	/* /online-control */
}
