:root {
	--container-max-width: 1263px;
	--pagination-dots-gap: 17.54px;
	--pagination-arrow-margin: 29.5px;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans";
}

* {
	box-sizing: border-box;
}

section {
	margin: 0;
	padding: 0;
}

.container {
	max-width: var(--container-max-width);
	margin: 0 auto;
}

.button {
	background-color: #E3B873;
	color: white;
	box-shadow: 0px 5px 15px 0px #E3B87333;
	outline: none;
	border: none;
	border-radius: 2px;
	padding: 13px 33px;
	text-transform: uppercase;
	font-style: italic;
	cursor: pointer;
}

.title {
	margin: 0;
	font-family: "Yeseva One", 'Times New Roman', Times, serif;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	color: white;
}

h2.title {
	font-size: 27px;
}

h3.title {
	font-size: 18px;
	/* Fix line-height when the context doesn't fit on the title */
	line-height: 25px;
}

.button-outlined {
	border: 1px solid white;
	background: transparent;
}

/* header */

.logo,
.link {
	text-transform: uppercase;
}

.logo,
.phone-link {
	color: #E3B873 !important;
}

.phone-link {
	text-decoration: underline;
}

.header {
	background: black;
}

.header .container {
	padding: 38px 0;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header ul .header-menu__item {
	margin-right: 20px;
}

.header ul .header-menu__item a {
	text-decoration: none;
	color: white;
}

.header ul .header-menu__item a:hover {
	color: #E3B873;
}

.link {
	transition:	0.2s;
}
/* /header */

/* dark */
.dark {
	color: white;
}

:not(.dark) .title {
	color: #E3B873;
}
/* /dark */

/* hero */
.hero {
	background-image: url(images/hero.jpg);
	background-size: cover;
	height: 707px;
	padding-top: 194px;
	position: relative;
}

.hero .hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.hero .container {
	position: relative;
	z-index: 1;
}

.hero .city-name {
	color: #E3B873;
}

.hero p {
	font-size: 22px;
}

.hero .button {
	height: 51px;
	margin-left: 20px;
}
/* /hero */

/* completed-projects */
.completed-projects {
	background-color: #131313;
}

.completed-projects .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	height: 100%;
}

.completed-projects__repair-details-wrapper {
	padding: 45px 27px;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

.repair-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 0;
	max-width: 365px;
}

.completed-projects__pagination {
	display: flex;
	flex-direction: column-reverse;
	/* align-items: center; */
	height: 100%;
}

.pagination__dots {
	display: inline-block;
}

.pagination__dots .pagination__dot {
	display: inline-block;
	cursor: pointer;
	margin: 2.5px calc(var(--pagination-dots-gap) / 2);
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	width: 9.57px;
	height: 9.57px;
}

.pagination__dots .pagination__dot.active {
	background: white;
}

.pagination__arrow-left,
.pagination__arrow-right {
	display: inline-block;
	cursor: pointer;
}

.pagination__arrow-left {
	margin-right: calc(var(--pagination-arrow-margin) - calc(var(--pagination-dots-gap) / 2))
}

.pagination__arrow-right {
	margin-left: calc(var(--pagination-arrow-margin) - calc(var(--pagination-dots-gap) / 2))
}

.completed-projects__tabs {
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	padding-left: 0;
}

.completed-projects__tabs a {
	font-family: "Yeseva One";
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
}

.completed-projects__tabs a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.completed-projects__tabs a.active {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
}

.completed-projects__image {
	display: none;
}

.completed-projects__image.active {
	display: block;
}
/* /completed-projects */
