:root {
	--container-max-width: 1263px;
	--pagination-dots-gap: 17.54px;
	--pagination-arrow-margin: 29.5px;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans";
}

* {
	box-sizing: border-box;
}

section {
	margin: 0;
	padding: 0;
}

.container {
	max-width: var(--container-max-width);
	margin: 0 auto;
}

.button {
	background-color: #E3B873;
	color: white;
	box-shadow: 0px 5px 15px 0px #E3B87333;
	outline: none;
	border: none;
	border-radius: 2px;
	padding: 13px 33px;
	text-transform: uppercase;
	font-style: italic;
	cursor: pointer;
}

.title {
	margin: 0;
	font-family: "Yeseva One", 'Times New Roman', Times, serif;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	color: #E3B873;
}

.title.white-title {
	color: white;
}

.subtitle {
	color: #181818;
	font-size: 20px;
}

.dark .subtitle {
	color: white;
}

h2.title {
	font-size: 27px;
}

h3.title {
	font-size: 18px;
	/* Fix line-height when the context doesn't fit on the title */
	line-height: 25px;
}

hr.divider {
	border: none;
	height: 1.54px;
	width: 55px;
	background-color: #E3B873;
	border-radius: 1px;
	margin-top: 62.5px;
	margin-bottom: 34.46px;
}

.input-wrapper {
	text-align: left;
}

.input-wrapper label {
	color: rgba(54, 54, 54, 0.5);
	font-size: 13px;
}

.input {
	color: #363636;
	border: none;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	padding: 0;
	padding-bottom: 8px;
	border-radius: 0;
	font-size: 14px;
}

.input::placeholder,
.input::-moz-placeholder {
	color: #363636;
	opacity: 1;
}

.button-outlined {
	border: 1px solid white;
	background: transparent;
}

.icon-line {
	display: inline-block;
	width: 32px;
	height: 1.54px;
	background-color: #E3B873;
	border-radius: 1px;
	margin-bottom: calc(29px / 2);
}

p {
	font-size: 18px;
}

/* header */

.logo,
.link {
	text-transform: uppercase;
}

.logo,
.phone-link {
	color: #E3B873 !important;
}

.phone-link {
	text-decoration: underline;
}

.header {
	background: black;
}

.header .container {
	padding: 38px 0;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header ul .header-menu__item {
	margin-right: 20px;
}

.header ul .header-menu__item a {
	text-decoration: none;
	color: white;
}

.header ul .header-menu__item a:hover {
	color: #E3B873;
}

.link {
	transition:	0.2s;
}
/* /header */

/* dark */
.dark {
	color: white;
	background-color: #131313;
}
/* /dark */

/* hero */
.hero {
	background-image: url(images/hero.jpg);
	background-size: cover;
	height: 707px;
	padding-top: 194px;
	position: relative;
}

.hero .hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.hero .container {
	position: relative;
	z-index: 1;
}

.hero .city-name {
	color: #E3B873;
}

.hero p {
	font-size: 22px;
}

.hero .button {
	height: 51px;
	margin-left: 20px;
}
/* /hero */

/* completed-projects */
.completed-projects .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	height: 100%;
	/* to tweak the next section background */
	padding-bottom: 416px;
}

.completed-projects p {
	font-size: 14px;
}

.completed-projects span {
	font-size: 13px;
}

.completed-projects__repair-details-wrapper {
	padding: 45px 27px;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

.repair-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 0;
	max-width: 365px;
}

.completed-projects__pagination {
	display: flex;
	flex-direction: column-reverse;
	/* align-items: center; */
	height: 100%;
}

.pagination__dots {
	display: inline-block;
}

.pagination__dots .pagination__dot {
	display: inline-block;
	cursor: pointer;
	margin: 2.5px calc(var(--pagination-dots-gap) / 2);
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	width: 9.57px;
	height: 9.57px;
}

.pagination__dots .pagination__dot.active {
	background: white;
}

.pagination__arrow-left,
.pagination__arrow-right {
	display: inline-block;
	cursor: pointer;
}

.pagination__arrow-left {
	margin-right: calc(var(--pagination-arrow-margin) - calc(var(--pagination-dots-gap) / 2))
}

.pagination__arrow-right {
	margin-left: calc(var(--pagination-arrow-margin) - calc(var(--pagination-dots-gap) / 2))
}

.completed-projects__tabs {
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	padding-left: 0;
}

.completed-projects__tabs a {
	font-family: "Yeseva One";
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
}

.completed-projects__tabs a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.completed-projects__tabs a.active {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
}

.completed-projects__image {
	display: none;
}

.completed-projects__image.active {
	display: block;
}
/* /completed-projects */

/* online-control */
.online-control .container {
	/* to tweak the section background */
	margin-top: calc(-416px + 90.72px);
	text-align: center;
}

.online-control__video-image {
	display: flex;
	justify-content: center;
	position: relative;
	max-width: fit-content;
	margin-top: 31.21px !important;
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.15);
}

.play-button {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background-color: #E3B873;
	cursor: pointer;
}

.play-button::before {
	content: '';
	display: block;
	background: url(images/play-button.svg) no-repeat;
	margin: calc(calc(85px - 26px) / 2) calc(calc(85px - 21px) / 2);
	width: 21px;
	height: 26px;
}

.online-control__video-image .overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.online-control .container div:not(.icon-line),
.online-control .container p {
	margin: 0 auto;
}

.online-control p {
	max-width: 681px;
	line-height: 204.6%;
}

.checkbox-label {
	cursor: pointer;
	margin: 0 auto;
	margin-top: 33.24px;
}

.checkbox {
	display: none;
}

.fake {
	display: inline-flex;
	width: 18px;
	height: 18px;
	background: #E3B873;
	color: #fff;
	justify-content: center;
	margin-right: 8.62px;
}

.fake::before {
	content: "\2714";
	opacity: 0;
	transition: .2s;
}

.checkbox:checked + .fake::before {
	opacity: 1;
}

.submit-button {
	min-width: 200px;
	min-height: 51px;
}

form .row {
	display: flex;
	justify-content: space-between;
}

form {
	max-width: 679px;
	margin: 0 auto;
	margin-top: 91.5px;
}
/* /online-control */